{% extends 'base.html' %}

{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='newpost.css')}}">
<div class="intro">
    <div style="font-size: 50px;font-family:'Courier New', Courier, monospace;color: white;position: fixed;">
        Post in 
    </div>
    <img src="{{url_for('static',filename='images/v111_30.png')}}" style="margin-top: 5%; position: fixed;" width="20%" height="50%">
    <div class="title">
        HOTSPOT
    </div>
    <form method="POST" class="forms" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        <!--{{ form.name.label }}-->
        {% if form.name.errors %}
            {{ form.name(style='border-bottom-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.name.errors %}
                {%if error%}
                    {{ error }}
                {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.name(placeholder='Resource Name', class='inputbox') }}
        {% endif %}
        <br/><br/>

        <!--{{ form.tag.label }}-->
        {% if form.tag.errors %}
            {{ form.tag(style='border-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.tag.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.tag(placeholder='Tag',class='inputbox') }}
        {% endif %}
        <br/><br/>

        <!--{{ form.description.label }}-->
        {% if form.description.errors %}
            {{ form.description(style='border-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.description.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.description(placeholder='Description', class='inputbox') }}
        {% endif %}
        <br/><br/>

        <!--{{ form.picture.label }}-->
        {% if form.picture.errors %}
            {{ form.picture(style='border-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.picture.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.picture(class='inputbox') }}
           
        {% endif %}
        <br/><br/>
        

        <!--{{ form.cost.label }}-->
        {% if form.cost.errors %}
            {{ form.cost(style='border-color:red;', class='datepicker inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.cost.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.cost(class='inputbox') }}
        {% endif %}
        <p style="font-size: small;margin-left: 35%;color: white;">Cost</p>

        <!--{{ form.location.label }}-->
        {% if form.location.errors %}
            {{ form.location(style='border-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.location.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.location(placeholder='Location', class='inputbox') }}
           
        {% endif %}
        <br/><br/>
        
        <!--{{ form.expiry.label }}-->
        {% if form.expiry.errors %}
            {{ form.expiry(style='border-color:red;', class='datepicker inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.expiry.errors %}
                {%if error%}
                    {{ error }}
                    {%endif%}
                {% endfor %}
            </span>
        {% else %}
            {{ form.expiry(class='datepicker inputbox',placeholder='DOB') }}
        {% endif %}
        <p style="font-size: medium;margin-left: 35%;color: white;">Expiry</p>
        

        {{ form.submit(class='submitbutton') }}
        <br/><br/>
        
    </form>

    
</div>

{%endblock content%}