{%extends "base.html"%}

{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='reset_password.css')}}">
<div class="intro">
    <form method="POST" action="" class="forms">
        {{ form.hidden_tag() }}
    
        <!--{{ form.password.label }}-->
        {% if form.password.errors %}
            {{ form.password(style='border-color:red;', class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </span>
        {% else %}
            {{ form.password(placeholder='New Password', class='inputbox') }}
        {% endif %}
        <br/><br/>
        
        <!--{{ form.confirm_password.label }}-->
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(style='border-color:red;',  class='inputbox') }} 
            <span style="font-size: medium; margin-left:35%; color: red;">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </span>
        {% else %}
            {{ form.confirm_password(placeholder='Confirm New Password', class='inputbox') }}
        {% endif %}
        <br/><br/>

        {{ form.submit(class='submitbutton') }}
        <br/><br/>
    </form>
</div>
{%endblock content%}