{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='searchfeed.css')}}">
    <form method="get">
        <input type="text" name="tag" placeholder="tag" class="inputbox" />
        <input type="submit" class="submitbutton"/>
    </form>

    <br/><hr/>

    <div class="grid-container">

        {% for i in items %}
            <div class="grid-item">
                <img src="{{url_for('static', filename='uploads/'+i.picture)}}" width=240px height=332px>
                <div class="detailsbox">
                    <div class="details">
                        {{ i.title }} <br/>
                        Tag : {{ i.tag }}<br/><br/>
                    
                        {{ i.description }}<br/><br/>
                        Expires on : {{ i.expiry }}<br/>
                        Available at : {{ i.location }}<br/>
                        Cost : {{ i.cost }}<br/>
                        By : {{ i.owner }}<br/>
                        Contact : {{ i.owner_number }}<br/>

                        {% if i.id not in cart_items and i.owner != current_user.username %}
                            <a href="{{ url_for('add_to_cart', id_=i.id) }}">Add to Cart</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        {% endfor %}    
    </div>

{% endblock content %}